<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

   <head th:replace="~{fragments/head :: head}"></head>

   <body class="main-layout">

      <div th:replace="~{fragments/loader :: loader}"></div>

      <header>
         <div th:replace="~{fragments/navbar :: navbar}"></div>
      </header>

      <div th:replace="~{fragments/banner :: banner}"></div>

      <section th:replace="~{fragments/gallery :: gallery}"></section>

      <div th:replace="~{fragments/footer :: footer}"></div>

   </body>
</html>

