<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

   <head th:replace="~{fragments/head :: head}"></head>

   <body class="main-layout">

      <div th:replace="~{fragments/loader :: loader}"></div>

      <header>
         <div th:replace="~{fragments/navbar :: navbar}"></div>
      </header>

      <!-- banner -->
      <section class="banner_main">
         <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption relative">
                        <div class="row d_flex">
                           <div class="col-md-6">
                              <img class="bann_img" th:src="@{/images/banner-piercieng.jpg}" alt="#"/>
                           </div>
                           <div class="col-md-6 mt-5">
                              <h1>Bem vindo(a)</h1>
                              <p>A paixão por piercings vai além da estética; acreditamos que cada peça é uma forma de expressão pessoal, carregada de significado e estilo.</p>
                              <a class="get_btn" th:href="@{/agendamento}" role="button">Agendar horário</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->

      <section th:replace="~{fragments/gallery :: gallery}"></section>

      <div class="about slin2" th:fragment="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>Sobre</h2>
                     <p style="font-style: italic;">Trabalho com titânio e aço cirúrgico:</p>
                     <p style="font-style: italic;">O titânio é um material biocompativel, e hipoalergico. O furo tende a ter um processo de cicatrização mais rápido e tranquilo.</p>
                     <p style="font-style: italic;">O aço cirúrgico também é um ótimo material, mas algumas pessoas podem ter alergias.</p>
                     <p style="font-style: italic;">Caso tenha a pele sensível e tendência a ter queloide opte sempre pela jóia de titânio para evitar transtornos posteriores.</p>
                     <a class="read_more" th:href="@{/sobre}">Leia mais</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img th:src="@{/images/titanium-piercing.jpg}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div th:replace="~{fragments/location :: location}"></div>


      <div th:replace="~{fragments/footer :: footer}"></div>

   </body>
</html>

