<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

   <head th:replace="~{fragments/head :: head}"></head>

   <body class="main-layout">

       <div th:replace="~{fragments/loader :: loader}"></div>

       <header>
          <div th:replace="~{fragments/navbar :: navbar}"></div>
       </header>

       <div th:replace="~{fragments/banner :: banner}"></div>

       <div class="about slin2" th:fragment="about">
           <div class="container">
               <div class="row d_flex">
                   <div class="col-md-6">
                       <div class="titlepage">
                           <h2>Sobre</h2>
                           <p style="font-style: italic;">Trabalho com titânio e aço cirúrgico:</p>
                           <p style="font-style: italic;">O titânio é um material biocompativel, e hipoalergico. O furo tende a ter um processo de cicatrização mais rápido e tranquilo.</p>
                           <p style="font-style: italic;">O aço cirúrgico também é um ótimo material, mas algumas pessoas podem ter alergias.</p>
                           <p style="font-style: italic;">Caso tenha a pele sensível e tendência a ter queloide opte sempre pela jóia de titânio para evitar transtornos posteriores.</p>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="about_img">
                           <figure><img th:src="@{/images/titanium-piercing.jpg}" alt="#"/></figure>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <div th:replace="~{fragments/footer :: footer}"></div>

   </body>
</html>

